<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ncee.dao.domain.VQuestionFullInfoMapper">
  <resultMap id="BaseResultMap" type="com.ncee.dao.model.VQuestionFullInfo">
    <result column="question_id" jdbcType="BIGINT" property="questionId" />
    <result column="exam_type_id" jdbcType="BIGINT" property="examTypeId" />
    <result column="exam_type" jdbcType="VARCHAR" property="examType" />
    <result column="province_id" jdbcType="BIGINT" property="provinceId" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="year_id" jdbcType="BIGINT" property="yearId" />
    <result column="year" jdbcType="VARCHAR" property="year" />
    <result column="score_id" jdbcType="BIGINT" property="scoreId" />
    <result column="score" jdbcType="INTEGER" property="score" />
    <result column="course_id" jdbcType="BIGINT" property="courseId" />
    <result column="course" jdbcType="VARCHAR" property="course" />
    <result column="question_index" jdbcType="INTEGER" property="questionIndex" />
    <result column="question_number" jdbcType="INTEGER" property="questionNumber" />
    <result column="question_type_id" jdbcType="BIGINT" property="questionTypeId" />
    <result column="question_type" jdbcType="VARCHAR" property="questionType" />
    <result column="difficulty_type_id" jdbcType="BIGINT" property="difficultyTypeId" />
    <result column="question_difficulty_type" jdbcType="VARCHAR" property="questionDifficultyType" />
    <result column="question" jdbcType="VARCHAR" property="question" />
    <result column="book" jdbcType="VARCHAR" property="book" />
    <result column="modulename" jdbcType="VARCHAR" property="modulename" />
    <result column="knowledge" jdbcType="VARCHAR" property="knowledge" />
  </resultMap>
  <insert id="insertSelective" parameterType="com.ncee.dao.model.VQuestionFullInfo">
    insert into v_question_full_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="questionId != null">
        question_id,
      </if>
      <if test="examTypeId != null">
        exam_type_id,
      </if>
      <if test="examType != null">
        exam_type,
      </if>
      <if test="provinceId != null">
        province_id,
      </if>
      <if test="province != null">
        province,
      </if>
      <if test="yearId != null">
        year_id,
      </if>
      <if test="year != null">
        year,
      </if>
      <if test="scoreId != null">
        score_id,
      </if>
      <if test="score != null">
        score,
      </if>
      <if test="courseId != null">
        course_id,
      </if>
      <if test="course != null">
        course,
      </if>
      <if test="questionIndex != null">
        question_index,
      </if>
      <if test="questionNumber != null">
        question_number,
      </if>
      <if test="questionTypeId != null">
        question_type_id,
      </if>
      <if test="questionType != null">
        question_type,
      </if>
      <if test="difficultyTypeId != null">
        difficulty_type_id,
      </if>
      <if test="questionDifficultyType != null">
        question_difficulty_type,
      </if>
      <if test="question != null">
        question,
      </if>
      <if test="book != null">
        book,
      </if>
      <if test="modulename != null">
        modulename,
      </if>
      <if test="knowledge != null">
        knowledge,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="questionId != null">
        #{questionId,jdbcType=BIGINT},
      </if>
      <if test="examTypeId != null">
        #{examTypeId,jdbcType=BIGINT},
      </if>
      <if test="examType != null">
        #{examType,jdbcType=VARCHAR},
      </if>
      <if test="provinceId != null">
        #{provinceId,jdbcType=BIGINT},
      </if>
      <if test="province != null">
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="yearId != null">
        #{yearId,jdbcType=BIGINT},
      </if>
      <if test="year != null">
        #{year,jdbcType=VARCHAR},
      </if>
      <if test="scoreId != null">
        #{scoreId,jdbcType=BIGINT},
      </if>
      <if test="score != null">
        #{score,jdbcType=INTEGER},
      </if>
      <if test="courseId != null">
        #{courseId,jdbcType=BIGINT},
      </if>
      <if test="course != null">
        #{course,jdbcType=VARCHAR},
      </if>
      <if test="questionIndex != null">
        #{questionIndex,jdbcType=INTEGER},
      </if>
      <if test="questionNumber != null">
        #{questionNumber,jdbcType=INTEGER},
      </if>
      <if test="questionTypeId != null">
        #{questionTypeId,jdbcType=BIGINT},
      </if>
      <if test="questionType != null">
        #{questionType,jdbcType=VARCHAR},
      </if>
      <if test="difficultyTypeId != null">
        #{difficultyTypeId,jdbcType=BIGINT},
      </if>
      <if test="questionDifficultyType != null">
        #{questionDifficultyType,jdbcType=VARCHAR},
      </if>
      <if test="question != null">
        #{question,jdbcType=VARCHAR},
      </if>
      <if test="book != null">
        #{book,jdbcType=VARCHAR},
      </if>
      <if test="modulename != null">
        #{modulename,jdbcType=VARCHAR},
      </if>
      <if test="knowledge != null">
        #{knowledge,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>