<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ncee.dao.domain.VQuestionBasicInfoMapper" >
  <resultMap id="BaseResultMap" type="com.ncee.dao.model.VQuestionBasicInfo" >
    <result column="question_id" property="questionId" jdbcType="BIGINT" />
    <result column="course_id" property="courseId" jdbcType="BIGINT" />
    <result column="course" property="course" jdbcType="VARCHAR" />
    <result column="province_id" property="provinceId" jdbcType="BIGINT" />
    <result column="province" property="province" jdbcType="VARCHAR" />
    <result column="year_id" property="yearId" jdbcType="BIGINT" />
    <result column="year" property="year" jdbcType="VARCHAR" />
    <result column="question" property="question" jdbcType="VARCHAR" />
  </resultMap>
  <insert id="insertSelective" parameterType="com.ncee.dao.model.VQuestionBasicInfo" >
    insert into v_question_basic_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="questionId != null" >
        question_id,
      </if>
      <if test="courseId != null" >
        course_id,
      </if>
      <if test="course != null" >
        course,
      </if>
      <if test="provinceId != null" >
        province_id,
      </if>
      <if test="province != null" >
        province,
      </if>
      <if test="yearId != null" >
        year_id,
      </if>
      <if test="year != null" >
        year,
      </if>
      <if test="question != null" >
        question,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="questionId != null" >
        #{questionId,jdbcType=BIGINT},
      </if>
      <if test="courseId != null" >
        #{courseId,jdbcType=BIGINT},
      </if>
      <if test="course != null" >
        #{course,jdbcType=VARCHAR},
      </if>
      <if test="provinceId != null" >
        #{provinceId,jdbcType=BIGINT},
      </if>
      <if test="province != null" >
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="yearId != null" >
        #{yearId,jdbcType=BIGINT},
      </if>
      <if test="year != null" >
        #{year,jdbcType=VARCHAR},
      </if>
      <if test="question != null" >
        #{question,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>